parameters:
	checkMissingIterableValueType: false
	ignoreErrors:
		# we need to test if assertions are enabled
		-
			message: "#^Variable \\$assertsEnabled in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/Tools.php
